///////////////////////////////////////
///////////base styles/////////////////
///////////////////////////////////////////////////////////////

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 65%, 67%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 1080px){
    font-size: 8px;
  }
  @media screen and (max-width: 880px) {
    font-size: 6px;
  }

  @media screen and (max-width: 680px) {
    font-size: 10px;
  }

  @media screen and (max-width: 550px) {
    font-size: 8px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
