///////////////////////////////////////
///////////base styles/////////////////
///////////////////////////////////////////////////////////////

:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 1080px){
    font-size: 8px;
  }
  @media screen and (max-width: 880px) {
    font-size: 6px;
  }

  @media screen and (max-width: 680px) {
    font-size: 10px;
  }

  @media screen and (max-width: 550px) {
    font-size: 8px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
