//////////////////////////////////////////////////////////
///////////////typography styles//////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

.main-text-container {
  max-width: 67rem;
  text-align: center;
  margin: 0 7rem;
  h1,
  h2 {
    margin-bottom: 2rem;
  }
}

h1 {
  font-size: 7rem;
  font-weight: 400;

  @media only screen and (max-width: 1180px) {
    font-size: 5rem;
  }

  @media only screen and (max-width:500px){
      font-size: 4rem;
  }
}

h1,
h2 {
  font-family: "DM Serif Display", sans-serif;
  letter-spacing: 1px;
}

.heading-with-line-on-top {
  margin-top: 5rem;

  &::before {
    content: "";
    height: 1px;
    width: 15rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    @media only screen and (max-width: 815px) {
      left: calc(50% - 7.5rem); // centering the line by subtracting 50% of th total width by halth the line width
    }

    
  }
}
