/////////////////////////////////////////////
///////////////buttons styles////////////////
////////////////////////////////////////////////////////////////////////////////

.btn {
  font-family: "karla";
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: solid #fff 2px;
  transition: color 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: -1;
    transition: width 0.5s, height 0.3s;
    transform-origin: bottom;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    color: var(--dark-violet);
  }

  &:focus {
    outline: none;
  }

  &--dark-violet {
    border: solid 2px var(--dark-violet);
    color: var(--dark-violet);

    &::after {
      background-color: var(--dark-violet);
    }

    &:hover {
      color: #fff;
    }
  }
}
