:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 65%, 67%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif; }

.main-text-container {
  max-width: 67rem;
  text-align: center;
  margin: 0 7rem; }
  .main-text-container h1,
  .main-text-container h2 {
    margin-bottom: 2rem; }

h1 {
  font-size: 7rem;
  font-weight: 400; }
  @media only screen and (max-width: 1180px) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 4rem; } }

h1,
h2 {
  font-family: "DM Serif Display", sans-serif;
  letter-spacing: 1px; }

.heading-with-line-on-top {
  margin-top: 5rem; }
  .heading-with-line-on-top::before {
    content: "";
    height: 1px;
    width: 15rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 815px) {
      .heading-with-line-on-top::before {
        left: calc(50% - 7.5rem); } }

.btn {
  font-family: "karla";
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  padding: .5rem 2rem;
  border: solid #fff 2px;
  transition: color .5s, transform .3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-transform: uppercase; }
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: -1;
    transition: width .5s;
    transform-origin: bottom; }
  .btn:hover::after {
    width: 100%; }
  .btn:active {
    transform: scale(0.95); }
  .btn:hover {
    color: var(--dark-violet); }
  .btn:focus {
    outline: none; }
  .btn--dark-violet {
    border: solid 2px var(--dark-violet);
    color: var(--dark-violet); }
    .btn--dark-violet::after {
      background-color: var(--dark-violet); }
    .btn--dark-violet:hover {
      color: #fff; }

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem; }
  @media only screen and (max-width: 920px) {
    .features {
      padding: 0 5rem; } }
  .features__content {
    position: relative;
    max-width: 120rem; }
    @media only screen and (max-width: 815px) {
      .features__content {
        text-align: center; } }
    .features__content h1::before {
      background-color: var(--dark-violet); }
    .features__content-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5rem;
      flex-wrap: wrap; }
      @media only screen and (max-width: 815px) {
        .features__content-items {
          justify-content: center; } }
      .features__content-items div {
        flex: 0 35rem;
        padding: 5rem 0; }
      .features__content-items h2 {
        margin: 2rem 0; }
      .features__content-items p {
        color: var(--dark-grayish-violet);
        line-height: 25px; }

.find-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem; }
  @media only screen and (max-width: 910px) {
    .find-more {
      padding: 0 5rem; } }
  .find-more__content {
    position: relative;
    width: 120rem;
    max-width: 100%;
    margin: 20rem 0;
    padding: 5rem 7rem;
    background-color: var(--dark-violet);
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 910px) {
      .find-more__content {
        padding: 5rem; } }
    .find-more__content::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
      background-repeat: no-repeat;
      background-position: right; }
  .find-more h1 {
    color: white;
    font-weight: 400;
    max-width: 50rem;
    margin-right: 5rem;
    font-size: 5rem; }
    @media only screen and (max-width: 1200px) {
      .find-more h1 {
        font-size: 3.5rem;
        max-width: 40rem; } }
  .find-more button {
    margin-left: auto; }
  @media only screen and (max-width: 815px) {
    .find-more {
      padding: 5rem 2.5rem; }
      .find-more__content {
        flex-direction: column; }
        .find-more__content::before {
          background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
          background-position: top right; }
        .find-more__content h1,
        .find-more__content button {
          margin: 0; }
        .find-more__content h1 {
          max-width: 100%;
          text-align: center; }
        .find-more__content button {
          margin-top: 2rem; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
  padding: 10rem;
  position: relative; }
  @media only screen and (max-width: 910px) {
    footer {
      padding: 5rem; } }
  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0; }
  footer .footer__content {
    width: 120rem;
    max-width: 100%; }
    footer .footer__content-top {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5rem;
      margin-bottom: 5rem; }
      footer .footer__content-top::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.5px;
        background-color: var(--grayish-blue); }
      footer .footer__content-top .social-media-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto; }
        footer .footer__content-top .social-media-links img {
          fill: red; }
        footer .footer__content-top .social-media-links a:not(:first-child) {
          margin-left: 2rem; }
  footer .footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1; }
    footer .footer__links ul li {
      list-style: none;
      color: var(--dark-grayish-violet); }
      footer .footer__links ul li:not(:nth-child(2)) {
        margin-top: 2rem; }
      footer .footer__links ul li.main {
        margin: 0 0 5rem 0; }
      footer .footer__links ul li,
      footer .footer__links ul li a {
        text-transform: uppercase;
        font-weight: 700; }
      footer .footer__links ul li:hover a {
        text-decoration: underline; }
      footer .footer__links ul li a {
        text-decoration: none;
        color: var(--dark-violet); }
  @media screen and (max-width: 815px) {
    footer::before {
      background-image: url(../images/bg-pattern-footer-mobile.svg);
      background-size: contain; }
    footer .footer__content-top {
      flex-direction: column; }
      footer .footer__content-top .social-media-links {
        margin: 3rem 0 0 0; }
    footer .footer__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer .footer__links ul {
        margin-top: 5rem; } }

header {
  position: relative;
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  margin-bottom: 25rem; }
  header::before, header::after {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%; }
  header::before {
    top: -10rem;
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-position: top right;
    z-index: 0; }
  header::after {
    top: 40rem;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg"); }
  @media only screen and (max-width: 1280px) {
    header {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 910px) {
    header {
      padding: 5rem; } }
  header .header__img {
    margin-bottom: -25rem; }
    @media only screen and (max-width: 1280px) {
      header .header__img {
        max-width: 41rem;
        margin-bottom: -15rem; } }
    @media only screen and (max-width: 1010px) {
      header .header__img {
        max-width: 31rem;
        margin-bottom: -15rem; } }
  header .header-content {
    max-width: 54rem;
    align-self: flex-start;
    color: #fff;
    position: relative;
    margin-right: 2rem; }
    header .header-content h1 {
      max-width: 50rem;
      line-height: 60px; }
      @media only screen and (max-width: 815px) {
        header .header-content h1::before {
          display: none; } }
    header .header-content p {
      margin: 3rem 0 5rem 0;
      line-height: 25px; }
  @media only screen and (max-width: 815px) {
    header {
      flex-direction: column;
      padding: 0;
      text-align: center; }
      header::before, header::after {
        display: none; }
      header .header__img {
        width: 100%;
        max-width: 100%;
        margin: 0; }
      header .header-content {
        padding: 10rem 5rem;
        margin: 0;
        align-self: unset;
        max-width: 100%; }
        header .header-content h1 {
          max-width: 100%; }
        header .header-content::before, header .header-content::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%; }
        header .header-content::before {
          background-image: url("../images/bg-pattern-intro-left-mobile.svg");
          background-position: top left; }
        header .header-content::after {
          top: 35%;
          background-image: url("../images/bg-pattern-intro-right-mobile.svg");
          background-position: bottom right; } }
  @media only screen and (max-width: 400px) {
    header .header-content {
      padding: 10rem 2.5rem; } }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 3rem 10rem;
  background-color: #fff; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
    nav ul li {
      list-style: none; }
      nav ul li:hover a {
        color: var(--dark-violet); }
      nav ul li:not(:first-of-type) {
        margin-left: 3rem; }
      nav ul li a {
        text-decoration: none;
        color: var(--dark-grayish-violet);
        transition: color 0.3s;
        text-transform: uppercase;
        font-weight: 700; }
  nav .menu-btn {
    display: none;
    margin-left: auto; }
  nav .open-menu {
    display: block; }
  @media only screen and (max-width: 815px) {
    nav {
      padding: 3rem 2.5rem; }
      nav ul {
        display: none;
        flex-direction: column;
        margin: 0;
        position: fixed;
        top: 9rem;
        text-align: center;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        background-color: #2b282f;
        padding: 10rem 3rem; }
        nav ul::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-image: url(../images/bg-pattern-mobile-nav.svg);
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
          z-index: 0; }
        nav ul li {
          width: 100%; }
          nav ul li:not(:first-of-type) {
            margin: 2rem 0 0 0; }
          nav ul li a {
            color: #fff; }
            nav ul li a:hover {
              color: #fff;
              text-decoration: underline; }
          nav ul li .btn {
            width: 100%;
            border-color: #fff;
            color: #fff;
            padding: 1rem 0; }
            nav ul li .btn:hover {
              color: #2b282f; }
            nav ul li .btn::after {
              background-color: #2b282f; }
            nav ul li .btn:hover::after {
              background-color: #fff; }
      nav .menu-btn {
        display: block; } }
