:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 65%, 67%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 8px; } }
  @media screen and (max-width: 880px) {
    html {
      font-size: 6px; } }
  @media screen and (max-width: 680px) {
    html {
      font-size: 10px; } }
  @media screen and (max-width: 550px) {
    html {
      font-size: 8px; } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif; }

.main-text-container {
  max-width: 67rem;
  text-align: center;
  margin: 0 7rem; }
  .main-text-container h1,
  .main-text-container h2 {
    margin-bottom: 2rem; }

h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 1px; }

.heading-with-line-on-top {
  margin-top: 5rem; }
  .heading-with-line-on-top::before {
    content: "";
    height: 1px;
    width: 15rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0; }

.btn {
  font-family: "karla";
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: solid #fff 2px;
  transition: color 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-transform: uppercase; }
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: -1;
    transition: width 0.5s, height 0.3s;
    transform-origin: bottom; }
  .btn:hover::after {
    width: 100%; }
  .btn:hover {
    color: var(--dark-violet); }
  .btn:focus {
    outline: none; }
  .btn--dark-violet {
    border: solid 2px var(--dark-violet);
    color: var(--dark-violet); }
    .btn--dark-violet::after {
      background-color: var(--dark-violet); }
    .btn--dark-violet:hover {
      color: #fff; }

header {
  position: relative;
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  margin-bottom: 25rem; }
  header::before, header::after {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  header::before {
    top: -10rem;
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-position: top right;
    z-index: 0; }
  header::after {
    top: 40rem;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg"); }
  header .header__img {
    margin-bottom: -25rem; }
  header .header-content {
    max-width: 54rem;
    align-self: flex-start;
    color: #fff;
    position: relative;
    margin-right: 2rem; }
    header .header-content h1 {
      width: 50rem;
      line-height: 60px; }
    header .header-content p {
      margin: 3rem 0 5rem 0; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 3rem 15rem;
  background-color: #fff; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
    nav ul li {
      list-style: none; }
      nav ul li:not(:first-of-type) {
        margin-left: 3rem; }
      nav ul li a {
        text-decoration: none; }
