:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 65%, 67%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.row {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif; }

.main-text-container {
  max-width: 67rem;
  text-align: center;
  margin: 0 7rem; }
  .main-text-container h1,
  .main-text-container h2 {
    margin-bottom: 2rem; }

h1 {
  font-size: 7rem;
  font-weight: 400; }

h1,
h2 {
  font-family: "DM Serif Display", sans-serif;
  letter-spacing: 1px; }

.heading-with-line-on-top {
  margin-top: 5rem; }
  .heading-with-line-on-top::before {
    content: "";
    height: 1px;
    width: 15rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0; }

.btn {
  font-family: "karla";
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  padding: .5rem 2rem;
  border: solid #fff 2px;
  transition: color .5s, transform .3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-transform: uppercase; }
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: -1;
    transition: width .5s;
    transform-origin: bottom; }
  .btn:hover::after {
    width: 100%; }
  .btn:active {
    transform: scale(0.95); }
  .btn:hover {
    color: var(--dark-violet); }
  .btn:focus {
    outline: none; }
  .btn--dark-violet {
    border: solid 2px var(--dark-violet);
    color: var(--dark-violet); }
    .btn--dark-violet::after {
      background-color: var(--dark-violet); }
    .btn--dark-violet:hover {
      color: #fff; }

.features {
  display: flex;
  justify-content: center;
  align-items: center; }
  .features__content {
    position: relative;
    max-width: 120rem; }
    .features__content h1::before {
      background-color: var(--dark-violet); }
    .features__content-items {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10rem; }
      .features__content-items *:not(:last-of-type) {
        margin-right: 5rem; }
      .features__content-items h2 {
        margin: 2rem 0; }
      .features__content-items p {
        color: var(--dark-grayish-violet);
        line-height: 25px; }

.find-more {
  position: relative;
  max-width: 120rem;
  margin: 25rem auto;
  padding: 5rem 7rem;
  background-color: var(--dark-violet);
  display: flex;
  justify-content: center;
  align-items: center; }
  .find-more::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right; }
  .find-more h2 {
    color: white;
    font-weight: 400;
    font-size: 5rem;
    width: 50rem; }
  .find-more button {
    margin-left: auto; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
  padding: 10rem 0;
  position: relative; }
  footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0; }
  footer .footer__content {
    width: 120rem;
    max-width: 100%;
    margin: 0 15rem; }
    footer .footer__content-top {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5rem;
      margin-bottom: 5rem; }
      footer .footer__content-top::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .5px;
        background-color: var(--grayish-blue); }
      footer .footer__content-top .social-media-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto; }
        footer .footer__content-top .social-media-links a:not(:first-child) {
          margin-left: 2rem; }
  footer .footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1; }
    footer .footer__links ul li {
      list-style: none;
      color: var(--dark-grayish-violet); }
      footer .footer__links ul li:not(:nth-child(2)) {
        margin-top: 2rem; }
      footer .footer__links ul li.main {
        margin: 0 0 5rem 0; }
      footer .footer__links ul li, footer .footer__links ul li a {
        text-transform: uppercase;
        font-weight: 700; }
      footer .footer__links ul li:hover a {
        text-decoration: underline; }
      footer .footer__links ul li a {
        text-decoration: none;
        color: var(--dark-violet); }

header {
  position: relative;
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  margin-bottom: 25rem; }
  header::before, header::after {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  header::before {
    top: -10rem;
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-position: top right;
    z-index: 0; }
  header::after {
    top: 40rem;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg"); }
  header .header__img {
    margin-bottom: -25rem; }
  header .header-content {
    max-width: 54rem;
    align-self: flex-start;
    color: #fff;
    position: relative;
    margin-right: 2rem; }
    header .header-content h1 {
      width: 50rem;
      line-height: 60px; }
    header .header-content p {
      margin: 3rem 0 5rem 0; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 3rem 15rem;
  background-color: #fff; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
    nav ul li {
      list-style: none; }
      nav ul li:hover a {
        color: var(--dark-violet); }
      nav ul li:not(:first-of-type) {
        margin-left: 3rem; }
      nav ul li a {
        text-decoration: none;
        color: var(--dark-grayish-violet);
        transition: color .3s;
        text-transform: uppercase;
        font-weight: 700; }
